/* General Reset and Layout Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #252A34;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Game container */
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: #2A2E39;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  position: relative;
  z-index: 10;
}


h2 {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}
h3{
  font-size: 1em;
  color: #ffffff;
  text-align: center;
}

p {
  color: #ffffff;
  font-style: italic;
  text-align: center;
  font-size: 1.2em;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

input[type="text"] {
  font-size: 20px;
  width: 80%;
  max-width: 300px;
  padding: 12px 20px;
  text-align: center;
  margin: 10px 0;
  border-radius: 12px;
  border: 2px solid #DE1749;
  background-color: #333333;
  color: white;
}

button {
  background: #DE1749;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  transition: background 0.3s;
  width: 80%;
  max-width: 300px;
}

button:hover {
  background: #860f2d;
}

#message {
  font-size: 1.5em;
  color: #ffff;
  margin-top: 20px;
}

#puzzle-clue {
  font-size: 1.2em;
  color: #ff9900;
  margin-top: 20px;
  font-weight: bold;
}

/* Centered Next Button below the text */
.feedback-container {
  display: flex;
  flex-direction: column;  /* Stack the elements vertically */
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px; /* Add space between the feedback and the button */
}

#next-step {
  background: #DE1749;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  margin-top: 20px;  
  width: 80%;
  max-width: 300px;
}

#next-step:hover {
  background: #860f2d;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.option button {
  width: 80%;
  max-width: 300px;
}


.circle {
  position: absolute;
  border-radius: 50%;
  background-color: #DE1749;
  opacity: 0.8;
  z-index: -1;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  .game-container {
    padding: 15px;
    width: 100%;
  }

  h2 {
    font-size: 2em;
  }
  h3{
    font-size: 1em;
  
  }

  p {
    font-size: 1em;
  }

  input[type="text"], button {
    font-size: 14px;
    padding: 10px;
  }
}
